<div class="row">
    <div class="col-md-8 col-lg-5 col-11 container card p-5">
        <h1 class="display-1 text-center">REGISTRO</h1>
        <form class="px-5" [formGroup]="formG" (ngSubmit)="save($event)" novalidate>
            <input class='form-control mt-3' type="text" formControlName="name" placeholder="Ingrese su Nombre">
            <div *ngIf="formG.get('name').errors && formG.get('name').touched">
                <small class="badge alert-danger" *ngIf="formG.get('name').hasError('required')">
                    Este es un campo requerido.
                </small>
            </div>
            <input class='form-control mt-3' type="text" formControlName="lastName" placeholder="Ingrese su Apellido">
            <div *ngIf="formG.get('lastName').errors && formG.get('lastName').touched">
                <small class="badge alert-danger" *ngIf="formG.get('lastName').hasError('required')">
                    Este es un campo requerido.
                </small>
            </div>
            <input class='form-control mt-3' type="text" formControlName="user" placeholder="Ingrese su Nombre de Usuario">
            <!-- <small class="badge alert-danger">{{this.formG.get('user').value.length}}/3</small> -->
            <div *ngIf="formG.get('user').errors && formG.get('user').touched">
                <small class="badge alert-danger" *ngIf="formG.get('user').hasError('required')">
                    Este es un campo requerido.
                </small>
            </div>
            <input class='form-control mt-3' type="password" formControlName="pwd" placeholder="Ingrese su Contraseña">
            <div *ngIf="formG.get('pwd').errors && formG.get('pwd').touched">
                <small class="badge alert-danger" *ngIf="formG.get('pwd').hasError('required')">
                    Este es un campo requerido.
                </small>
                <small class="badge alert-danger" *ngIf="formG.get('pwd').hasError('minlength')">
                    Asegurate de tener minimo 3 caracteres.
                </small>
            </div>
            <input class='form-control mt-3' type="email" formControlName="email" placeholder="Ingrese su Email">
            <div *ngIf="formG.get('email').errors && formG.get('email').touched">
                <small class="badge alert-danger" *ngIf="formG.get('email').hasError('required')">
                    Este es un campo requerido.
                </small>
                <small class="badge alert-danger" *ngIf="formG.get('email').hasError('email')">
                    Asegurate de escribir una direccion de correo valida.
                </small>
            </div>
            <button class='btn btn-outline-primary form-control btn-lg mt-3' type="submit">Registrarme</button>
        </form>
    </div>
</div>