<div class="container">
    <h1 class="display-1 text-center">TABLA DE USUARIOS</h1>
    <hr>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr class="text-center">
                    <th scope="col">ID</th>
                    <!-- <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th> -->
                    <th scope="col">Usuario</th>
                    <th scope="col">Contraseña</th>
                    <th scope="col">Correo</th>
                    <th scope="col" colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersArray"
                class="list-group-item-action"
                [class.bg-secondary]="user == selected"
                [class.text-light]="user == selected">
                    <th scope="row">{{user.id}}</th>
                    <!-- <td>{{user.name}}</td>
                    <td>{{user.lastName}}</td> -->
                    <td>{{user.username}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.email}}</td>
                    <td><button (click)="update(user)" class="btn btn-primary">Editar <i class="fas fa-pen fa-sm"></i></button></td>
                    <td><button class="btn btn-danger">Eliminar <i class="fa fa-trash fa-sm"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>