<div class="row">
    <h1 class="display-1 text-center">PRODUCTOS</h1>
    <hr>
    <div class="col-4">
        <div class="row position-sticky top-50 translate-middle-y">
            <button class="btn btn-outline-secondary" (click)="formAddProduct = !formAddProduct">{{formAddProduct ? 'Ocultar' : 'Agregar producto'}}</button>
            <!-- FORMULARIO PARA AGREGAR UN PRODUCTO -->
            <div class="card" *ngIf="formAddProduct">
                <h5 class="card-header">Registrar Producto</h5>
                <form class="card-body" [formGroup]="formG" (ngSubmit)="create()" novalidate>
                    <div class="form-floating mb-3">
                        <input class='form-control mt-3' type="text" formControlName="product" [(ngModel)]="selected.product" id="floatingProduct" placeholder="Nombre del Producto"
                        [class.is-invalid]="ValidateTextField('product')">
                        <label for="floatingProduct">Nombre del producto</label>
                        <div *ngIf="ValidateErrorTextField('product')">
                            <small class="badge alert-danger" *ngIf="formG.get('product').hasError('required')">
                                Este es un campo requerido.
                            </small>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class='form-control mt-3' type="number" formControlName="price" [(ngModel)]="selected.price" id="floatingPrice" placeholder="Precio $$.$$"
                        [class.is-invalid]="ValidateTextField('product')">
                        <label for="floatingPrice">Precio $$.$$</label>
                        <div *ngIf="ValidateErrorTextField('product')">
                            <small class="badge alert-danger" *ngIf="formG.get('price').hasError('required')">
                                Este es un campo requerido.
                            </small>
                        </div>
                    </div>
                    <button class="btn btn-success mt-3">
                        {{selected.id === 0 ? 'Agregar ' : 'Guardar '}} <i class="fas fa-plus-circle"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-8">
        <!-- TABLA DE PRODUCTOS -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th scope="col">ID</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col" colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productsArray"
                    class="list-group-item-action"
                    [class.bg-secondary]="product == selected"
                    [class.text-light]="product == selected">
                        <th scope="row">{{product.id}}</th>
                        <td>{{product.product}}</td>
                        <td>${{product.price}}</td>
                        <td><button (click)="update(product)" class="btn btn-primary">Editar <i class="fas fa-pen fa-sm"></i></button></td>
                        <td><button (click)="delete(product)" class="btn btn-danger">Eliminar <i class="fa fa-trash fa-sm"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>